.indicator {
  margin-top: 25px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .indicator {
    transform: scale(0.7);
    margin-top: 0;
  }

  .info {
    margin-top: 0;
  }
}

.space {
  color: rgb(88, 88, 88);
}
