.input {
  display: none;
}

.upload {
  width: 130px;
  height: 55px;
}

.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 5px;
  border: 2px dotted #40a9ff50;
  transition: 0.2s ease;
}

.uploadBtn:hover {
  border: 2px dotted #40a9ff80;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 600px) {
  .upload {
    transform: scale(0.8);
  }
}
