* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(248, 248, 248);
  min-height: 100vh;
}

#root {
  height: 100%;
}

@media screen and (max-width: 600px) {
  body {
    height: auto;
    background: #ebe5e4;
  }
}
