@keyframes fileEnter {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.content {
  justify-content: center;
  display: grid;
  grid-auto-rows: 125px;
  grid-template-columns: repeat(auto-fill, 118px);
  min-height: 250px;
}

.fileEnterActive {
  animation: fileEnter 500ms forwards;
}

.empty {
  svg {
    opacity: 0.7;
  }

  user-select: none;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .content {
    grid-auto-rows: 80px;
    grid-template-columns: repeat(auto-fill, 80px);
  }
}
