@import "../../../utils/colors.scss";

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 30px;
  align-items: center;
}

.tools {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.backDirButton {
  user-select: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 20px;
  border: none;
  background: none;
}

.backDirButton:hover {
  color: $accent;
}

.path {
  position: relative;
  top: 3px;
  margin: 0 10px;
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
  user-select: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.path::-webkit-scrollbar {
  height: 5px;
  background: none;
  width: 10px;
}

.path::-webkit-scrollbar-thumb {
  background-color: $accent;
  size: 10px;
  border-radius: 10px;
}

.path::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: content-box;
}

.typeName {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .typeName {
    display: none;
  }

  .panel {
    padding: 10px;
  }
}
