@import "../../../../utils/colors.scss";

.uploader {
  margin-top: 20px;
  width: 130px;
  padding: 2px;
  height: 500px;
  overflow: auto;
}

.uploader::-webkit-scrollbar {
  height: 5px;
  background: none;
  width: 5px;
}

.uploader::-webkit-scrollbar-thumb {
  background-color: $accent;
  border-radius: 10px;
}

.uploader::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: content-box;
}

.file {
  position: relative;
  padding: 5px 0;
  transition: 0.1s ease;
}

.file:hover {
  transform: scale(0.95);
}

.name {
  user-select: none;
  opacity: 0.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.percent {
  user-select: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.progress {
  z-index: -2;
  height: 20px;
  overflow: hidden;
  position: relative;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.progressBar {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  height: 20px;
  background: linear-gradient(500deg, $accent, #0665be);
  border-radius: 10px;
}

.progressBackground {
  height: 10px;
}

.closeButton {
  cursor: pointer;
  color: rgb(200, 0, 0);
  font-size: 16px;
  border: none;
  background: none;
  transition: 0.1s ease;
}

.closeButton:hover {
  transform: scale(1.2);
}

.closeFile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
}

@media screen and (max-width: 600px) {
  .uploader {
    font-size: 10px;
    margin-top: 0px;
    width: 100px;
    padding: 0px;
    height: 150px;
    padding: 0 10px;
  }

  .progress {
    height: 10px;
  }

  .percent {
    display: none;
  }

  .progressBar {
    height: 10px;
  }
}
