.error {
  margin-top: 5px;
  z-index: 999;
  width: 100%;
  text-align: center;
  border: none;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  user-select: none;
  transition: 0.1s ease;
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.3);
  position: relative;
}

.btn {
  border-radius: 50%;
  display: flex;
  height: min-content;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.1s ease;
  color: rgb(240, 240, 240);
}

.btn:hover {
  background-color: rgba(200, 0, 0, 0.8);
  transform: scale(1.2);
}
