@import "../../utils/colors.scss";

.menu {
  display: flex;
  background: #fff;
  color: #000;
  z-index: 100;
  position: absolute;
  top: 50px;
  right: 0px;
  border-radius: 10px;

  box-shadow: 0px 0px 1px rgba(117, 117, 117, 0.171);
  border-bottom: 1px solid rgb(219, 219, 219, 0.5);

  ul {
    margin: 0;
    list-style: none;
    padding: 5px;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
  }

  a {
    color: #000;
  }
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  z-index: 10;
  padding: 10px 25px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.1s ease;
}

.button:hover {
  background: rgb(245, 245, 245);
  color: $accent;
}

.icon {
  z-index: 11;
  position: absolute;
  top: 10px;
  left: 5px;
}

.fieldName {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .menu {
    left: -104px;
  }
}
