.addFolderWrapper {
  position: relative;
  margin-left: 20px;
}

.add {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  margin: 0 auto;
  padding: 3px;
  transition: 0.1s ease;
  span {
    margin-left: 0 !important;
  }
}

.add:hover {
  color: rgb(119, 119, 119);
}

.name {
  border: none;
  outline: none;
  padding: 5px;
  background: none;
}

.form {
  z-index: 100;
  position: absolute;
  top: 28px;
  left: -150px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 600px) {
  .form {
    position: fixed;
    top: 185px;
    right: 0px;
    left: auto;
    transform: scale(0.8);
  }
}
