.icon {
  position: relative;
  width: 22px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.menu {
  z-index: 120;
  position: absolute;
  top: 8px;
  right: 18px;
  background: rgba(255, 255, 255, 0.664);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  overflow: hidden;
}

.label {
  font-weight: 500;
  border-bottom: 1px solid rgb(228, 228, 228);
  margin-bottom: 5px;
}

input {
  border: none;

  border-radius: 10px;
  outline: none;
  padding: 5px;
  background: none;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ok {
  color: black;
  width: 20px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.05s ease;
}

.ok:hover {
  color: green;
}
