.register {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 50px 180px;
}

.description {
  user-select: none;
  max-width: 250px;
  margin-bottom: 5px;
}

.ant-form-item-label {
  padding: 0 !important;
}

.item {
  margin: 0 !important;
  padding: 3px 0 !important;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .register {
    padding: 0 40px;
    width: 100%;
    height: 350px;
    background: none;
    margin: 0 auto;
  }

  .description {
    margin: 0;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .register {
    padding: 50px 100px;
    background: none;
  }
}

@media screen and (max-height: 600px) {
  .register {
    background: none;
    height: 0;
    padding: 0px auto;
  }
}
