@media screen and (max-width: 600px) {
  .name {
    display: none;
  }
}

.logo {
  height: fit-content;
}

.logotype {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 54px;
}

.name {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 24px;
}
