.deleteDir {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-left: 18px;
  color: rgb(150, 0, 0);

  span {
    margin-left: 0 !important;
  }

  button {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: rgba(0, 128, 0, 0.486);
    background: none;
    cursor: pointer;
  }
}
