.space {
  padding: 2px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  padding: 4px;
  padding-left: 4px;
  width: 150px;
  overflow: auto;
  scrollbar-width: 5px;
}

.usage {
  cursor: pointer;
}

.allow {
  user-select: none;
}

.remove {
  user-select: none;
  cursor: pointer;
  width: 20px;
  img {
    width: 100%;
  }
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #125d74;
  border-radius: 9em;
}
