@media screen and (max-width: 600px) {
  .username {
    display: none;
  }
}

.name {
  z-index: 1;
  color: rgb(47, 47, 47);
  user-select: none;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
}

.userAuth {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar {
  z-index: 2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: auto;
  }
}

.username {
  margin-right: 10px;
  font-weight: 500;
}

.user {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}
