.stack {
  width: 400px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

@media screen and (max-width: 600px) {
  .stack {
    z-index: 999;
    width: 200px;
    font-size: 12px;
    right: 0;
    bottom: 0;
  }
}
