@import "../../utils/colors.scss";

.profile {
  width: 1180px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  z-index: 1;
  overflow: auto;
}

.back {
  color: $accent;
}

.title {
  margin-top: 35px;
}

.avatarModule {
  display: flex;
}

.currentAvatar {
  width: 127px;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  border-radius: 10px;
  img {
    height: 100%;
    width: auto;
  }
}

.input {
  display: none;
}

.changerAvatar {
  cursor: pointer;
  user-select: none;
  width: 127px;
  height: 127px;
  background: #e6e6e6;
  margin-left: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  color: #797979;
  align-items: center;
  justify-content: center;

  span {
    font-size: 26px;
  }

  .newAvatarTitle {
    font-size: 14px;
  }
}

.actions {
  width: 180px;
  list-style: none;

  button {
    width: 100%;
    margin-top: 10px;
  }
}

.info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 180px 200px;
  grid-row-gap: 10px;

  .key {
    font-weight: 400;
  }

  .value {
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;

    input {
      margin-left: 10px;
      width: 80px;
      outline: none;
      border: none;
      background: #fff;
      padding: 0 2px;
      border-radius: 10px;
    }
  }
}

.showChangeUsername {
  color: $accent;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.1s ease;
}

.showChangeUsername:hover {
  color: #419aee;
}

.changeUsernameForm {
  display: flex;
  align-items: center;
}

.changeUsernameButton {
  cursor: pointer;
  margin-left: 5px;
  background: none;
  border: none;
}

.verificateUsernameTrue {
  color: rgb(0, 180, 0);
}

.verificateUsernameFalse {
  color: rgb(180, 0, 0);
}

.actions {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .title {
    margin-top: 10px;
  }

  .profile {
    width: 100%;
  }

  .currentAvatar {
    width: 80px;
    height: 80px;
  }

  .changerAvatar {
    width: 80px;
    height: 80px;

    .newAvatarTitle {
      display: none;
    }
  }

  .info {
    grid-template-columns: 90px 180px;
  }

  .value {
    overflow-y: auto;
  }
}
