.auth {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 50px 180px;
}

h2 {
  font-size: 12px;
  opacity: 0.4;
}

.description {
  user-select: none;
  max-width: 250px;
  margin-bottom: 25px;
}

.item {
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .auth {
    padding: 0 40px;
    width: 100%;
    height: 350px;
    background: none;
    margin: 0 auto;
  }

  .description {
    margin: 0;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .auth {
    padding: 50px 100px;
    background: none;
  }
}

@media screen and (max-height: 600px) {
  .auth {
    background: none;
    height: 0;
    padding: 0px auto;
  }

  .header {
    margin-bottom: 0;
  }
}
