.action {
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: 0.2s ease;
  }

  button:hover {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .action {
    width: 50px;
    height: 20px;

    button {
      font-size: 12px;
    }
  }
}

.delete:hover {
  color: rgb(150, 0, 0);
}

.download:hover {
  color: rgb(0, 150, 0);
}
