@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  background: linear-gradient(700deg, #d3aac7, #bf99ce, #8a9ac9, #8fc1c4);
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;

  z-index: 0;
  backdrop-filter: brightness(0.4);
}

.header {
  width: 600px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: inline-block;
  display: flex;
}

.button {
  margin: 5px;
}

.middle {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: #fff;
  font-size: 100px;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1);
}

.content {
  margin: 0 auto;
  margin-top: 10%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0;
  }
  .header {
    width: 100%;
    margin: 30px 0;
    align-items: center;
    flex-direction: column;
  }

  .buttons {
    margin-top: 10px;
    flex-direction: column;
  }

  .content {
    margin: 0;
  }
}

@media screen and (max-width: 700px) and (min-width: 450px) {
  .header {
    margin: 10px 0;
    align-items: center;
    flex-direction: column;
  }

  .buttons {
    margin-top: 25px;
  }
}

@media screen and (max-height: 600px) {
  .content {
    margin-top: 5%;
  }
}
