.sortWrapper {
  position: relative;
}

.sort {
  position: relative;
  white-space: nowrap;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  i {
    font-size: 20px;

    span {
      margin-left: 0 !important;
    }
  }
}

.btn {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: none;
  background: none;
}

.panel {
  margin-top: 5px;
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  list-style: none;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 0px 1px rgba(117, 117, 117, 0.171);
  border-bottom: 1px solid rgb(219, 219, 219, 0.5);

  li {
    position: relative;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
  }

  li:hover {
    background: rgb(245, 245, 245);
  }

  button {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: none;
    border: none;
  }
}

.typeName {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .typeName {
    display: none;
  }

  .panel {
    transform: scale(0.8);
    margin-top: 0px;
    padding: 0px;
  }
}
