@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  overflow-y: auto;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 0;
  background: linear-gradient(700deg, #fcecf8, #f5e5fc, #dee6fd, #e7fbfc);
  animation: gradient 60s ease infinite;
  background-size: 400% 400%;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 10px;
}

.container {
  width: 1180px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.containerWrapper {
  padding-bottom: 20px;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}

.panel {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 0;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .containerWrapper {
    display: block;
    margin: 0;
  }
  .container {
    width: 100%;
  }

  .panel {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
