.navbar {
  z-index: 999;
  display: flex;
  align-items: center;
  background: rgb(249, 250, 252);
  justify-content: center;
  box-shadow: 0px 0px 1px rgba(117, 117, 117, 0.171);
  border-bottom: 1px solid rgb(219, 219, 219, 0.5);
  height: 50px;
  position: sticky;
  top: 0;
}

.logo {
  img {
    pointer-events: none;
    width: 60px;
  }
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
