.draggable {
  user-select: none;
  padding: 10px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}
