.file {
  user-select: none;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.file:hover {
  padding: 1px 5px;
  .action {
    opacity: 1;
    display: flex;
  }
  .name {
    display: none;
  }
}

.image {
  width: 61px;
  margin: 0 auto;

  img {
    max-width: 100%;
    max-height: 100%;
    filter: saturate(85%);
    pointer-events: none;
  }
}

.name {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .image {
    width: 40px;
  }

  .name {
    font-size: 10px;
    height: 20px;
  }

  .dirName {
    font-size: 10px;
    height: 20px;
  }
}

.dirName {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
}
